.recommended-friends {
  border-bottom: var(--border);
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.recommended-friends__title {
  font-size: 22px;
  color: var(--grey);
}

.recommended-friends span {
  display: block;
  margin: 100px 0;
  text-align: center;
  color: var(--grey);
  font-size: 24px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
  font-size: 22px;
  margin-bottom: 25px;
}

.open-chat__header span {
  color: var(--grey);
  opacity: 0.8;
}

.open-chat__header span i {
  opacity: 0.3;
  margin-left: 5px;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: var(--border);
}

.open-post__title {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 8px;
}

.open-post__hashtags {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--grey);
  margin-bottom: 8px;
}

.open-post__members {
  display: flex;
  align-items: center;
  font-size: 17px;
}

.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 35%;
  margin-right: 5px;
}

.open-post__member-count {
  color: var(--grey);
}

.open-post__members .divider {
  width: 1.5px;
  height: 15px;
  background-color: var(--grey);
  opacity: 0.5;
  margin: 0 5px;
}

.open-post__member-status {
  color: #ffb0c0;
}

.open-post__photo {
  position: relative;
  display: flex;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}

.open-post__likes {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 5px;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  color: white;
}

.open-post__likes span {
  margin-left: 5px;
  font-weight: 500;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: #ffb0c0;
    transform: scale(2);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__likes:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
