.alt-header {
  position: fixed;
  top: 30px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  padding: 0 var(--horizontal-space);
  justify-content: center;
  align-items: center;
  background-color: white;
}

.alt-header__column {
  display: flex;
  justify-content: center;
  width: 33%;
}
.alt-header__column:first-child {
  justify-content: flex-start;
}

.alt-header__column:last-child {
  justify-content: flex-end;
}

.alt-header__column:last-child i:last-child {
  margin-left: 25px;
}

.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}
