.badge,
.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.dot {
  width: 6px;
  height: 6px;
}

.dot--nav {
  position: absolute;
  left: 100%;
  top: -10%;
}

.dot--screen-header {
  position: absolute;
  right: -7px;
  top: -7px;
}
