.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 4% 0%;
  border-top: var(--border);
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: center;
}

.nav__btn {
  display: flex;
  width: 25%;
  justify-content: center;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  left: 60%;
  top: -30%;
}
